doctype

html(lang="ru")
  
  -var active = 'Банкетный зал' //активный пункт меню, список в header.jade
  -var pageTitle = 'Банкетный зал' + ' - Panorama' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // big banner
    .poster(style="background-image: url('./img/poster-hall-2.jpg')")
    
    // Content
    .content
      
      // Section
      .section.about
        .container
          
          .section__head
            div
              .h1 О банкетном зале
              
          .section__content.section__content--narrow
            p Счастливые торжества только в Банкетном зале Panorama! Мы сделаем так, чтобы Ваши праздники всегда оставляли в памяти тёплый след. Праздник - это люди, которые Вам дороги. Праздник - это событие, которое Вы ждете. Праздник - это место, где все гармонично сочетается в лучшем Банкетном зале в сердце города!
          
          .event__menu.event__menu--about
            figure.event__block
              a(href="#!")
              img(src="./img/resto-menu-1.png", alt="").img-responsive
              figcaption Идеальнная свадьба в Панораме
            figure.event__block
              a(href="#!")
              img(src="./img/resto-menu-2.png", alt="").img-responsive
              figcaption Скидки для именинников
    
      .section.th
        .container
          
          .th__wrapper
            div
              img(src="./img/icon-hall1-1.png" alt="")
              span Банкет:  
                br
                | 120 человек
            div
              img(src="./img/icon-hall1-2.png" alt="")
              span Фуршет: 
                br
                | 450 человек
            div
              img(src="./img/icon-hall2-3.png" alt="")
              span Площадь зала
                br
                | 300 м.кв.
            div
              img(src="./img/icon-hall2-4.png" alt="")
              span Возможность 
                br
                | «зонирования зала»
    
      // Section
      .section.interior.no--p-bottom
        .container
                
          .section__head
            div
              .h1 Фото интерьера
              
        #interior__gallery.interior__gallery.gallery
          
          // Slider main container
          .swiper-container
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-1.png").gallery-item
                    img(src="./img/interior-gallery-1.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-2.png").gallery-item
                    img(src="./img/interior-gallery-2.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-3.png").gallery-item
                    img(src="./img/interior-gallery-3.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-4.png").gallery-item
                    img(src="./img/interior-gallery-4.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-5.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-1.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-2.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
                  
          // If we need scrollbar
          .interior__gallery-scroll
            .interior__gallery-scroll-wrapper
              .swiper-scrollbar
    
      // Section
      .section.about.no--p-bottom
        .container
          
          .section__head
            div
              .h1 Наши услуги
              
          .section__content.section__content--narrow
            p Счастливые торжества только в Банкетном зале Panorama! Мы сделаем так, чтобы Ваши праздники всегда оставляли в памяти тёплый след. Праздник - это люди, которые Вам дороги. Праздник - это событие, которое Вы ждете. Праздник - это место, где все гармонично сочетается в лучшем Банкетном зале в сердце города!
            
          .section__content.section__content--hall2-1
            .row
              .col-md-4
                ul.list
                  li банкеты;
                  li фуршеты;
                  li свадьбы;
                  li юбилеи;
                  li корпоративные мероприятия;

              .col-md-4
                ul.list
                  li детские праздники;
                  li дни рождения;
                  li кейтеринг;
                  li доставка блюд и напитков;
                  li организация праздников «под ключ»;
              .col-md-4
                ul.list
                  li индивидуальное украшение зала;
                  li привоз артистов и звезд эстрады;
                  li развлекательная программа, ведущие, аниматоры; 
                  li разработка сценария праздника
    
          .gallery-list.no--b
            .gallery-list__row.row
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-1.png", alt="").img-responsive
                  figcaption Банкеты
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-2.png", alt="").img-responsive
                  figcaption Фуршеты
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-3.png", alt="").img-responsive
                  figcaption Свадьбы
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-4.png", alt="").img-responsive
                  figcaption Кейтеринг
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-5.png", alt="").img-responsive
                  figcaption Доставка блюд и напитков
              .col-lg-4.col-xs-6.col-xxs-12
                figure.gallery-list__block
                  a(href="#")
                  img(src="./img/gallery-list-hall-6.png", alt="").img-responsive
                  figcaption Ведущие, аниматоры
    
      // Section
      .section.comment
        .container
                
          .section__head
            div
              .h1 Отзывы
          
          .section__content.section__content--comment
            img(src="./img/comment-widget.png", alt="").img-responsive
              
          .clear40
          .text-center
            a(href="#!").btn.btn--border Оставить отзыв на tripadvisor
    
      // Section
      .section.contacts.no--p
        #map_canvas.contacts__map
          
        .container
          .contacts__info
            .h1 Контакты
            
            table.table
              tr
                td
                  i.fa.fa-map-marker
                td г. Харьков, пер. Костюринский 2 ТРЦ Palladium
              tr
                td
                  i.fa.fa-phone
                td +38 (057) 731-10-02
              tr
                td
                  i.fa.fa-phone
                td +38 (050) 344-29-15
              tr
                td
                  i.fa.fa-clock-o
                td Режим работы: 24/7
              tr.visible-xs
                td(colspan="2").text-left
                  a(href="#!" target="_blank").color.color--primary Посмотреть на карте
                
          // Google Map
          script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
          script.
            function initialize() {
              var myLatlng = new google.maps.LatLng(49.9877839,36.2340847);
              var map_options = {
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: myLatlng,
                scrollwheel: false,
                disableDefaultUI: true
              }
              var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
              var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
              });
              /* Remove if you dont want B/W Google Map */
              /*
              var styles = [
              {
              featureType: "all",
              stylers: [
              { saturation: -100 }
              ]
              }
              ];
              map.setOptions({styles: styles});
              */
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          // Google Map Ends!

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
