doctype

html(lang="ru")
  
  -var active = 'Ресторан' //активный пункт меню, список в header.jade
  -var pageTitle = 'Ресторан' + ' - Panorama' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // big banner
    .poster(style="background-image: url('./img/poster-resto.jpg');")
    
    // Content
    .content
      
      // Section
      .section.restaurant.no--p-bottom
        .container
          
          .section__head
            div
              .h1 О ресторане
              
          .section__content.section__content--narrow
            p Если Вы устали от суеты и соскучились за уютной атмосферой и вкусной едой - ресторан Panorama к Вашим услугам. Здесь можно насладиться не только прекрасным видом на «сердце» шумного Харькова, но и побаловать себя вкусом оригинальных и неповторимых блюд. А вечером стать свидетелем того, как ресторан сбрасывает свой лоск и превращается в спокойный и таинственный лаунж.
            
          .event__menu.event__menu--about
            figure.event__block
              a(href="#!")
              img(src="./img/resto-menu-1.png", alt="").img-responsive
              figcaption Специальное предложение для именинников
            figure.event__block
              a(href="#!")
              img(src="./img/resto-menu-2.png", alt="").img-responsive
              figcaption Горячий понедельник -50% на горячие блюда
          
          .clear
          .text-center
            a(href="#!").btn.btn--border Все акции
        
      
      // Section
      .section.kitchen.no--p-bottom
        .container
                
          .section__head
            div
              .h1 Кухня
              
          .section__content.section__content--narrow
            p Отличительной чертой хорошего ресторана является качественная и разнообразная кухня. В нашем меню представлены неповторимые блюда итальянской и европейской кухонь, суши- меню, авторские десерты и оригинальные конфеты ручной работы. А так же большой ассортимент блюд на мангале, за приготовлением которых можно наблюдать лично, потому что происходить это будет в зале на Ваших глазах.
            
            .clear20
            p.text-center
              a(href="#!").btn.btn--border Подробнее
              
        #kitchen__menu.kitchen__menu
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .kitchen__img
                  a(href="#!")
                    span Коктейльное 
                      br
                      | меню
                  img(src="./img/kitchen-menu-1.png", alt="").img-responsive
              .swiper-slide
                .kitchen__img
                  a(href="#!")
                    span Детское 
                      br
                      | меню
                  img(src="./img/kitchen-menu-2.png", alt="").img-responsive
              .swiper-slide
                .kitchen__img
                  a(href="#!")
                    span Меню 
                      br
                      | ресторана
                  img(src="./img/kitchen-menu-3.png", alt="").img-responsive
              .swiper-slide
                .kitchen__img
                  a(href="#!")
                    span Японская 
                      br
                      | кухня
                  img(src="./img/kitchen-menu-4.png", alt="").img-responsive
              .swiper-slide
                .kitchen__img
                  a(href="#!")
                    span Барное 
                      br
                      | меню
                  img(src="./img/kitchen-menu-5.png", alt="").img-responsive
                  
          // If we need scrollbar
          .kitchen__menu-scroll
            .kitchen__menu-scroll-wrapper
              .swiper-scrollbar

        .container
          #kitchen__list-dish.kitchen__list-dish
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .kitchen__dish
                    .kitchen__dish-wrapper
                      div
                        .kitchen__dish-img
                          img(src="./img/kitchen-dish-1.png", alt="").img-responsive
                      div
                        .kitchen__dish-title Новинка: Блинный десерт 1
                        .kitchen__dish-dose 350 грамм , 65 грн
                        p Шоколадные блины с бананами, свежей клубникой и шоколадным соусом. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                .swiper-slide
                  .kitchen__dish
                    .kitchen__dish-wrapper
                      div
                        .kitchen__dish-img
                          img(src="./img/kitchen-dish-1.png", alt="").img-responsive
                      div
                        .kitchen__dish-title Новинка: Блинный десерт 2
                        p Шоколадные блины с бананами, свежей клубникой и шоколадным соусом. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                .swiper-slide
                  .kitchen__dish
                    .kitchen__dish-wrapper
                      div
                        .kitchen__dish-img
                          img(src="./img/kitchen-dish-1.png", alt="").img-responsive
                      div
                        .kitchen__dish-title Новинка: Блинный десерт 3
                .swiper-slide
                  .kitchen__dish
                    .kitchen__dish-wrapper
                      div
                        .kitchen__dish-img
                          img(src="./img/kitchen-dish-1.png", alt="").img-responsive
                      div
                        .kitchen__dish-title Новинка: Блинный десерт 4
                        .kitchen__dish-dose 350 грамм , 65 грн
                        p Шоколадные блины с бананами, свежей клубникой и шоколадным соусом. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .kitchen__list-dish-button
              .swiper-button-prev
              .swiper-button-next
            .swiper-pagination
                
    
      // Section
      .section.interior.no--p-bottom
        .container
                
          .section__head
            div
              .h1 Фото интерьера
              
        #interior__gallery.interior__gallery.gallery
          
          // Slider main container
          .swiper-container
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-1.png").gallery-item
                    img(src="./img/interior-gallery-1.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-2.png").gallery-item
                    img(src="./img/interior-gallery-2.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-3.png").gallery-item
                    img(src="./img/interior-gallery-3.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-4.png").gallery-item
                    img(src="./img/interior-gallery-4.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-5.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-1.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
              .swiper-slide
                .interior__img
                  a(href="./img/interior-gallery-2.png").gallery-item
                    img(src="./img/interior-gallery-5.png", alt="").img-responsive
                  
          // If we need scrollbar
          .interior__gallery-scroll
            .interior__gallery-scroll-wrapper
              .swiper-scrollbar
    
      // Section
      .section.comment
        .container
                
          .section__head
            div
              .h1 Отзывы
          
          .section__content.section__content--comment
            img(src="./img/comment-widget.png", alt="").img-responsive
              
          .clear40
          .text-center
            a(href="#!").btn.btn--border Оставить отзыв на tripadvisor
    
      // Section
      .section.subscription
        .container
                
          .section__head
            div
              .h1 Подписка на новости
          
          .subscription__form
            p Оставьте электронный адрес и будьте в курсе модных новинок и специальных предложений от Panorama
            form(action="#")
              .form-group.form-group--table
                div
                  input(type="text" name="text" placeholder="Email").form-control
                div
                  button(type="submit").btn.btn--yellow Подписаться
    
      // Section
      .section.contacts.no--p
        #map_canvas.contacts__map
          
        .container
          .contacts__info
            .h1 Контакты
            
            table.table
              tr
                td
                  i.fa.fa-map-marker
                td г. Харьков, пер. Костюринский 2 ТРЦ Palladium
              tr
                td
                  i.fa.fa-phone
                td +38 (057) 731-10-02
              tr
                td
                  i.fa.fa-phone
                td +38 (050) 344-29-15
              tr
                td
                  i.fa.fa-clock-o
                td Режим работы: 24/7
              tr.visible-xs
                td(colspan="2").text-left
                  a(href="#!" target="_blank").color.color--primary Посмотреть на карте
                
          // Google Map
          script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
          script.
            function initialize() {
              var myLatlng = new google.maps.LatLng(49.9877839,36.2340847);
              var map_options = {
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: myLatlng,
                scrollwheel: false,
                disableDefaultUI: true
              }
              var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
              var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
              });
              /* Remove if you dont want B/W Google Map */
              /*
              var styles = [
              {
              featureType: "all",
              stylers: [
              { saturation: -100 }
              ]
              }
              ];
              map.setOptions({styles: styles});
              */
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          // Google Map Ends!

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
