// Footer
footer.footer
  .footer__top
    .container
      .footer__logo
        img(src="./img/logo.png", alt="")
      .footer__button
        a(href="#popup-write-director").btn.btn--small.btn--yellow.btn--border.open-popup-link Написать директору
      .footer__top-center
        div 
          a(href="callto:") 
            i.fa.fa-phone
            strong 8 800 731 10 02
        div 
          a(href="contacts.html") 
            i.fa.fa-home
            | Наши контакты
  
  .footer__center
    .container
      nav(role="navigation").footer__navigation 
        ul
          li
            a(href="restoran.html") Ресторан
          li
            a(href="club.html") Клуб
          li
            a(href="karaoke.html") Караоке
          li
            a(href="laung.html") Лаунж
          li
            a(href="hall-1.html") Банкетный зал
          li
            a(href="hall-2.html") Конференц зал
      
      .footer__social
        a(href="#!" target="_blank")
          i.fa.fa-tripadvisor
        a(href="#!" target="_blank")
          i.fa.fa-facebook
        a(href="#!" target="_blank")
          i.fa.fa-vk
        a(href="#!" target="_blank")
          i.fa.fa-twitter
        a(href="#!" target="_blank")
          i.fa.fa-google-plus
  
  .footer__bottom
    .container
      .footer__copyright © Panorama Lounge 2017
      .footer__development
        a(href="#!" target="_blank") Разработка DARTC
  
